.card {
    margin-top: 5px;
    margin-bottom: 5px;
}


.card-body {
    border: 1px solid green;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

div.card {
    border: 0;
}

#mainTitle {
    color: green;
}