.body-reset-email {
  display: flex;
  flex-direction: column;
}

.input-email {
  border-radius: 20px;
  border: none;
  border: 1px solid gray;
}

.input-email::placeholder {
  font-size: 0.8em;
  padding-left: 10px;
}

.input-email:hover {
  outline: none; 
}

.body-button {
  width: 105px;
  height: 30px;
  border: 1px solid gray;
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
}

.text-button {
   color: white;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}